/*ESTILOS GENERALES=======================================================================================================================
=========================================================================================================================================*/
html {
	box-sizing: border-box!important;
    margin: 0px!important;
    padding: 0px!important;
}
*,*:after,*:before {
	box-sizing: inherit!important;
}
/*BOTONES*=================================================================================================================================
==========================================================================================================================================*/
.naranja{
	background-color: #FF5733;
	color:white;
	margin-right: 10px;
}
.amarillo-outline {
	border:1px solid #FFC300!important;
	background-color:#FFC300;
	color:white;
}
/*HEADER====================================================================================================================================
============================================================================================================================================*/
nav {
	padding-left: 10%!important;
	padding-right: 10%!important;
	background-color: transparent;
	transition: .3s;}
nav .navbar-brand, ul li a {
	color:white!important;
}
.navbar-brand{
	font-family: "Oswald",sans-serif;
}
nav ul li:hover {
	opacity: 0.6;
}
nav ul li {
	margin:0px 10px;
}
.acceso li:hover {
	border:none!important;
}
nav form button a{
	color:white;
}
nav form button a:hover {
	color:white;
	text-decoration: none;
	opacity: 0.6;
}
nav form button{
	margin-right: 0px!important;
}
.acceso li{
	margin:0px!important;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.acceso li a {
	padding-left: 0px!important;
	padding-right: 0px!important;
	text-align: center!important;
}
.acceso li:nth-child(1) a span{
	border-right:1px solid white;
    padding-right: 10px!important;
}
.acceso li:nth-child(2) a span {
	padding-left: 10px!important;
}
.acceso li:nth-child(2)  {
	margin-right: 10px!important;
}
.acceso li:hover {
	opacity: 1!important;
}
.acceso li:hover a {
	opacity: 0.6!important;
}
/*HERO=====================================================================================================================================
===========================================================================================================================================*/
div.hero {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
url(../img/bg.jpg);
    height: 70vh;
    background-position: top center;
    background-size: cover;
    position: relative;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;

}
.contenido-hero {
    width: 80%;
        display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	height: auto;
}
.contenido-hero h1{
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 5em;

	text-align: center;
}
.contenido-hero p{
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size:24px;

	text-align: center;
}
.container,.row,.col {
	text-align: center;
}
.trabaja {
	border-right: 3px solid white;
}
.nube{
	background-color: black;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}
.centrarBotones{
	 display: flex;
  justify-content: center;
}
.centrarBotones button a{
    color:white;
    text-decoration: none;

}
.centrarBotones button a:hover{
	opacity: 0.6;
}
.work {
    margin-right: 10px!important;
}
/*ACERCA DE=================================================================================================================================
============================================================================================================================================*/
.info{
	width: 100%;
	display: flex;
	justify-content: center;
}
.how{
    width: 80%;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
}
.row {
	padding:5rem 0rem;
}
.how p {
text-align: justify;

}

.aboutCol {
	margin-right: 5rem!important;

	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;


}
.col {
	padding: 0px!important;
}
.how h2 {
	font-family: "Oswald",sans-serif;
line-height: 72px;
text-align: left;
font-size: 48px;
color:#FF5733;
}
.how p {
	font-size: 1em;
	line-height: 2;
	color:#6f6f6f;
	font-weight: 400;
}
.info .how a{
	color:#FF5733;
	text-align: left!important;
}
.boxImg {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}
.boxImg img {
	width: 100%;
}
.cajaVideo video {

	width: 90%!important;
	margin-top: 2rem;
	margin-bottom: 0.4rem;
}
.cajaVideo {
	position: relative;
    width: 100%;
    background: url(../img/window.png);
    background-size: 100% 100%;
    height: auto;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
}
.dark{

	background-color: #1f618d!important;
	transition: .4s;
	
}
/*STATS=======================================================================================================================================
============================================================================================================================================*/
.stats {
	background-color: #1f618d;
}
.stats i {
	font-size: 72px!important;
	color:white;
}
.stats .numero {
	color:#FF5733;
	font-size: 100px;
	text-align: center;
	
	font-family: "Oswald",sans-serif;
	font-weight: bold;
}
.stats p {
	text-align: center;
	font-family: "Oswald",sans-serif;
	color:white;
	text-transform: uppercase;
}
/*TESTIMONIOS=================================================================================================================================
============================================================================================================================================*/
.testimonios h2 {
	text-align: center;
}
.testBox{
	border-radius: 20px;
	
	overflow: hidden;
}
.test {
	padding: 10px;
}
.test p {
	font-style: italic;

}
.btn{
   text-transform: uppercase;
   font-family: "Oswald",sans-serif;
}
.testInfo {
	
	padding: 10px;
	overflow: hidden;
}
.testInfo h2 {
	margin: 0px!important;
}
.testInfo p {
    text-align: center;
	color:black;
}
.testInfo img {
	width: 50%;
	border-radius: 50%;

}
/*FOOTER====================================================================================================================================
============================================================================================================================================*/
footer {
	width: 100%;
	background: #f5f5f5;
	overflow: hidden;
	display: flex!important;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
		padding: 1rem;
}
footer p{
	text-align: center;
	color:#777;
	font-family: "Oswald",sans-serif;
	font-size:18px;
	margin:0px!important;


}
/*MODAL======================================================================================================================================
===========================================================================================================================================*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 70%;
    position: relative;
    margin: 10% auto!important;
    border-radius:0.1rem;
    background: #fff;
    padding: 20px;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.loginTraba{
  border-right:1px solid #E8E8E8;
}
.loginReg{
    padding-left: 20px;
}
.loginReg p {

}
.modalDialog .row form .form-group {
    padding: 0px!important;
}
.modalDialog h2 {
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
}
.modalDialog .row {
 text-align: left!important;

}
.btn:hover a{
    color:white;
    text-decoration: none;
    opacity: 0.6;
}
.btn a {
    color:white;
}
.modalDialog .row div {
    padding-right: 20px;
    padding-left: 20px;
}
.modalDialog form label {
    text-align: left!important;
}
.btnLogin {
    width: 50%;
    margin-left: 0.7rem;
    margin-right: 0px!important;
}
.close {
    color: black;
    opacity: 0.2;
    position: absolute;
    right: 0rem;
    text-align: center;
    top: 0.5rem;
    width:4%;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem!important;
    font-family: "Verdana";
}
.close:hover {
    color:black;
    opacity: 0.6;
}
img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] { display: none; }
/*RESPONSIVE DESING===========================================================================================================================
=============================================================================================================================================*/
@media(min-width: 320px) {
 div.hero {
 	height: 100vh;
 }
 .contenido-hero {
 	width: 90%;
 }
 .contenido-hero h1 {
 	font-size: 3em;
 }
 .contenido-hero p{
 	font-size: 1em;
 	text-transform: uppercase;
 }
 nav{
 	background-color:#1f618d;
 }
 .navbar-toggler {
 	border-color: rgb(255,255,255)!important;
 }
 .navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
 }
#formAcceso{
 	margin-top:0px!important;
 }
 nav a,span{
 	font-size: 12px;
 	text-transform: none;
 }
 nav ul li{
 	margin: 0px!important;
 }
 #liAcceso{
 	margin-right: 0px!important;
 }
#formAcceso ul {
	margin-right: 0px!important;
}
 nav form .acceso li a span{
 	margin: 0px!important;
 	border:none!important;
 }
 #acceso{
 	padding:0px!important;
 }
 .hide {
 	display: none!important;
 }
 .centrarBotones{
 	display: flex;
 	flex-flow: column wrap;
 	justify-content: center;
 	align-items:center;
 }
 .centrarBotones button {
     width: 50%;
     margin-right:0px!important;
 }
 .centrarBotones button:nth-child(1){
 	margin-bottom: 0.5rem;
 }
 .info{
 	max-width: 100%;
 }
 .how {
 	flex-flow: column wrap;
 	padding-top:1rem!important;
 	 }
 	 .how h2 {
 	 	text-align: center;
 	 	font-size: 2rem;
 	 }
 .how #col {
 	width: 100%!important;

 	margin-right: 0px!important;
 }
 .aboutCol {
 	height: auto!important;
 }
 .boxImg {
 	height: auto;
 }
 .stats .how div {
 	width: 100%;
 	border-bottom:3px solid white;
 	margin-bottom: 1rem;
 }
 .stats .how div:nth-child(1){
 	margin-top:1rem;
 	border-top:3px solid white;

 }
 .stats .how div:nth-child(1) i {
 	padding-top:1rem;
 }
 .stats .row {
 	padding:0px!important;
 }
 .testInfo {
 	display: flex;
 	flex-flow: column wrap;
 	justify-content: center;
 	align-items: center;
 }
 .testBox div {
 	padding: 0px!important;
 }
 .testInfo img {
 	width:70%;
 }
 .testimonios .row {
 	padding-bottom: 0px!important;
 }
}
@media (min-width: 768px) {
body{
 	background: red!important;
 }
 }
@media (min-width: 1024px) {
   body{
   	background: purple!important;
   }
 }
@media (min-width: 1200px) {

 }