
html {
    box-sizing: border-box!important;
    margin: 0px!important;
    padding: 0px!important;
}
*,*:after,*:before {
    box-sizing: inherit!important;
}
body {
    background-color: #EBEDEF!important;
}
nav {
    padding-right:10%!important;
    padding-left: 10%!important;
    background-color:#1f618d;
    transition: .3s;
}
.naranja{
    background-color: #FF5733;
    color:white;
}
.amarillo-outline {
    border:1px solid #FFC300!important;
    background-color:#FFC300;
    color:white;
}
.navbar-brand {
    font-family:"Oswald",sans-serif;
}
nav .navbar-brand, ul li a {
    color:white!important;
}
nav ul li:hover {
    opacity: 0.6;
}
nav ul li {
    margin:0px 10px;
}
.acceso li:hover {
    border:none!important;
}
nav form button a{
    color:white;
}
nav form button a:hover {
    color:white;
    text-decoration: none;
    opacity: 0.6;
}
#app-filter{
   padding-left: 0px!important;
}
#app-body{
   padding-right: 0px!important;
}

.container {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.app-box{
    padding-top: 15vh;
    margin: 0 auto;
    min-height: 75vh;
      max-width: 80%!important;
}
.row {
    margin:0%!important;
}
.btn{
   text-transform: uppercase;
   font-family: "Oswald",sans-serif;
}
.posts{
    padding:0%!important;
}
.posts article {
    margin-bottom: 1%!important;
}
.posts article:hover {
    background:rgba(255,255,255,0.4);
    cursor:pointer;
}
.searchBox {
    margin-bottom: 2%!important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.searchBox input{
    
border-radius: 0px!important;

}
.ct-post{
    width: 100%;
    padding:10px 0px;
    float: right;
    overflow: hidden;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.ct-post .primaryInfoPost{
    padding-right:0px!important;
}
.ct-post .primaryInfoPost div{
    padding-right:0px!important;
}
.ct-post .secondaryInfoPost{
    padding-left: 0px!important;
}
.ct-post .primaryInfoPost h3{
    font-size: 1.7em;
    text-transform: uppercase;
    font-family: "Oswald",sans-serif;
}
.ct-post .primaryInfoPost h4{
    font-size:1.2em;
    font-family: "Oswald",sans-serif;
}
.ct-post .primaryInfoPost span{
 font-family: 'Roboto', sans-serif;
 font-weight: lighter;
 font-size: 0.5em!important;
}
.ct-post .primaryInfoPost p{
 font-family: 'Roboto', sans-serif;
 font-weight: lighter;
 font-size: 0.9em;
}
.ct-post .primaryInfoPost h3,h4,p,.tags{
    margin:10px!important;
    padding: 0px!important;
}
.ct-post .primaryInfoPost .botArticle .tags{
    list-style: none;
    overflow: hidden;
}
.ct-post .primaryInfoPost .botArticle .tag{
    float: left;

}
.ct-post .primaryInfoPost .botArticle .tag > a{
    padding: 10px;
    color:#1f618d!important;
    border-right: 2px solid #FF5733;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
}
.ct-post .secondaryInfoPost div p {
   font-size: 1.2em;
   font-weight: 500;

}
.ct-post .secondaryInfoPost div .pOfertar{
    background: #FF5733;
    overflow: hidden;
    text-align: center;
    border-radius: 1px;

}
.boxExtras {
    padding: 0px!important;
}
.ct-post .secondaryInfoPost div .pOfertar a{
    color:white;
    font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;

}
.ct-post .secondaryInfoPost span {
    font-size:0.8em;
    font-weight: lighter;
}
.searchMiniBox {
    padding: 0%!important;
}
.btnSearch{
    background: #FF5733;
    color:white;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.btnSearch:hover {
    color:rgba(255,255,255,0.6);
}
.acceso li{
    margin:0px!important;
    font-size: 12px;
    text-transform: uppercase;
}
.acceso li:nth-child(1) a span{
    border-right:1px solid white;
    padding-right: 10px;
}
#app-body .search-form{

    width: 50%;
    margin:0 auto !important;
    text-align: center;
    margin-bottom: 30px !important;
    margin-right: 20% !important;
    font-size:16px;
}

#app-body .search-form input[type="text"]{
    padding: 5px 12px;
    border-radius: 5px;
    width:65%;
   margin-right: 12px;
}
.filterBox {
-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.filterBox .card-header {
   background-color:#1f618d;
   padding:1rem;
}

.filterBox h2 {
    font-size: 1.5em;
    color: white;
    font-family: "Oswald";
    text-transform: uppercase;
    margin-bottom: 0px!important;
}
img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] { display: none; }
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 70%;
    position: relative;
    margin: 10% auto!important;
    border-radius:0.1rem;
    background: #fff;
    padding: 20px;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.loginTraba{
  border-right:1px solid #E8E8E8;
}
.loginReg{
    padding-left: 20px;
}
.loginReg p {

}
.modalDialog .row form .form-group {
    padding: 0px!important;
}
.modalDialog h2 {
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
}
.modalDialog .row {
 text-align: left!important;

}
.btn:hover a{
    color:white;
    text-decoration: none;
    opacity: 0.6;
}
.btn a {
    color:white;
}
.modalDialog .row div {
    padding-right: 20px;
    padding-left: 20px;
}
.modalDialog form label {
    text-align: left!important;
}
.btnLogin {
    width: 50%;
    margin-left: 0.7rem;
    margin-right: 0px!important;
}
.close {
    color: black;
    opacity: 0.2;
    position: absolute;
    right: 0rem;
    text-align: center;
    top: 0.5rem;
    width:4%;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem!important;
    font-family: "Verdana";
}
.close:hover {
    color:black;
    opacity: 0.6;
}
.withoutPd{
    padding: 0px!important;
}
.dropdown #dropdownMenu2 {
    background: white;
    color:#1f618d!important;
    border:none;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.navPag {
    background: #EBEDEF!important;
    padding: 0px!important;
}
.pagination {
 
background: transparent!important;
}
.pagination li{
   margin:0px!important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
}
.active {
    color:white!important;
}
.pagination li a:not(.active){
    color:#1f618d!important;
}
.dropdown-menu button:hover {
    background-color:rgba(0,0,0,0.2);
}
#numBoxPost {
    margin-bottom: 1rem;
}
#numBoxPost span {
color:#1f2836!important;
font-family: "Oswald";
text-transform: uppercase;
}
.ulTipo{
    list-style: none;
    padding: 0px;
}
.boxTipo{
    padding: 0px!important;
}
.boxTipo h4 {
    margin-left: 0px!important;
    margin-right: 0px!important;
    font-size:1.2em;
    font-family: "Oswald";
    text-transform: uppercase;
    margin-bottom: 1rem!important;
}
.boxTipo ul li div input[type="checkbox"] {
    background: white!important;
    cursor:pointer;
    width: 1.2rem;
    height:1.2rem;
    margin-top: .19rem!important;
}
.boxTipo ul li div label {
    padding-left: .5rem;
}
.active {
    background: #1f618d!important;
    color:white!important;
}
.active a {
    color:white!important;
}
#app-foot .col-3{
    
}
.footBody{
    padding-left: 15px!important;
}
.footBody p{
    font-size: 0.8rem;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    margin: 0px!important;
}
.DropnumPost {
    float: left;
    display: inline-block;

}
.active{
color:white!important;
}
.footBody{
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
.footBody span{
    font-size:1rem;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    margin:0px!important;

    padding-right: 10px!important;
}
footer {
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
    color:#777;
    font-family: "Oswald",sans-serif;
    font-size:18px;
}
/*RESPONSIVE DESING===========================================================================================================================
=============================================================================================================================================*/
@media(min-width: 320px) {
 nav{
    background-color:#1f618d;
 }
 .navbar-toggler {
    border-color: rgb(255,255,255)!important;
 }
 .navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
 }
#formAcceso{
    margin-top:0px!important;
 }
 nav a,span{
    font-size: 12px;
    text-transform: none;
 }
 nav ul li{
    margin: 0px!important;
 }
 #liAcceso{
    margin-right: 0px!important;
 }
#formAcceso ul {
    margin-right: 0px!important;
}
 nav form .acceso li a span{
    margin: 0px!important;
    border:none!important;
 }
 #acceso{
    padding:0px!important;
 }
 .hide {
    display: none!important;
 }
 .loginReg{
    display: none;
 }
 .loginTraba{
    display: flex;
    flex-flow:column wrap; 
    justify-content: center;
    max-width: 100%!important;
    border:none;
    padding: 0px!important;
    flex:none!important;
 }
 .loginTraba h2{
    text-align: center;
 }
 .loginTraba form a{
    text-align: center!important;
    display: flex;
    justify-content: center;
 }
 .loginTraba form button {
    margin-left: 0px;
   width: 100%;
   margin-top:1rem;
 }
 #openModal div.row a.close{
    position: absolute;
    top:0.5rem;
    right: 0.5rem;
 }
 #app-filter{
    display: none;
 }
 #app-body{
    padding-left: 0px!important;
    max-width: 100%;
    flex:0 0 100%;
 }
 .searchBox div:nth-child(1){
    max-width: 75%!important;
 }
 .searchBox div:nth-child(2){
    max-width: 25%!important;
    flex:0 0 25%!important;
 }
 .primaryInfoPost{
    max-width: 100%!important;
    flex: 0 0 100%!important;
    padding-left: 0px!important;
    padding-right:0px!important;
 }
 .secondaryInfoPost {
    max-width: 100%!important;
    flex: 0 0 100%!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
 }
  .primaryInfoPost div{
    padding-left: 0px!important;
  }
  #app-foot{
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  #colFoot {
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  .footBody,.footBody .row{
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  .footBody .row div {
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  .footBody .row div:nth-child(1){
    margin-bottom: 1rem!important;
  }
  .footBody .row {
    justify-content: center;
  }
  .footBody .row div nav ul li a span{
    padding: 0px!important;

    font-size: 12px!important;
}
  .footBody {
    padding-left: 0px!important;
  }
}
@media (min-width: 768px) {
 body{
 }
  

}
@media (min-width: 1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}
    nav {
        padding-left: 5%!important;
        padding-right: 5%!important;
    }
    .hide2{
        display: none!important;
    }
   nav ul li {
    margin:0px 5px!important;
   }
   nav ul li a{
    font-size: 0.9rem;
   }
   .acceso li a span{
    text-transform: uppercase;
    font-size: 0.6rem;
   }
   .acceso li:nth-child(1) a span{
    border-right:1px solid white!important;
    padding-right: 10px!important;
   }
   .hide {
    display: initial!important;
   }
   nav form button a{
       text-transform: uppercase!important;
   }
   #liAcceso:nth-child(1){
    margin-left: 0px!important;
   }
   #acceso{
    padding-right: 10px!important;
   }
   .modalDialog > div {
        width: 50%;
     }
     #acceso{
        padding-left: 10px!important;
     }


#app-filter{
    display: initial!important;
 }
 #app-body{
    padding-left: 0px!important;
    max-width: 75%;
    flex:0 0 75%;
 }
 .searchBox div:nth-child(1){
    max-width: 90%!important;
 }
 .searchBox div:nth-child(2){
    max-width: 10%!important;
    flex:0 0 10%!important;
 }
 .primaryInfoPost{
    max-width: 75%!important;
    flex: 0 0 75%!important;
    padding-left: 10px!important;
    padding-right:10px!important;
 }
 .secondaryInfoPost {
    max-width: 25%!important;
    flex: 0 0 25%!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
 }
  .primaryInfoPost div{
    padding-left: initial!important;
  }
  #app-foot{
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  #app-foot > div:nth-child(1) {
       max-width: 25%!important;
       flex: 0 0 25%!important;
  }
  #app-foot > div:nth-child(2){
    max-width: 75%!important;
    flex: 0 0 75%!important;
  }

  .footBody .row{
    max-width: 100%!important;
    flex: 0 0 100%!important;
  }
  #colFoot {
    max-width: 50%!important;
    flex: 0 0 50%!important;
  }

  .footBody .row {
    justify-content: center;
  }
  .footBody .row div nav ul li a span{
    padding: 0px!important;

    font-size: 12px!important;
}
}
@media (min-width: 1200px) {

     nav{
        padding-left:10%!important;
        padding-right: 10%!important;
     }
     nav ul li{
        margin: 0px 10px!important;
     }
     nav ul li a{
        font-size: 1rem;
     }
     .acceso li a span{
        font-size:0.8rem;
     }
     nav a,span {
        font-size: 1rem;
     }
     
 }